*{
    margin: 0;
    padding: 0;
}
body{
background-image: url(./imgs/gif1.gif) ; 
background-size: cover;
}

#content{
  background-color: rgb(2, 13, 25, 0.9);
  

}



@font-face {
    font-family: FontCustom;
    src: url(./font/steelfish\ bd.otf);
  }
@font-face{
  font-family: Hello;
  src: url(./font/Peanut\ Butter.otf);
}
@font-face{
  font-family: pixelfont;
  src: url(./font/Crang.ttf);
}



.header {  
    padding: 0 50px;

    display: flex;
    height: 5em;
    justify-content: space-between;
    border-radius: 0em 0em 10em 10em;
    background: linear-gradient(
      54deg,
      hsl(272.35, 46.18%, 48.82%) 0%,
      hsl(271.78, 46.08%, 48.94%) 8.1%,
      hsl(270.12, 45.76%, 49.28%) 15.5%,
      hsl(267.44, 45.26%, 49.82%) 22.4%,
      hsl(263.81, 45.61%, 50.56%) 28.9%,
      hsl(259.28, 46.48%, 51.49%) 35%,
      hsl(253.94, 47.55%, 52.58%) 41%,
      hsl(247.84, 48.83%, 53.82%) 46.7%,
      hsl(241.05, 50.34%, 55.2%) 52.5%,
      hsl(234.26, 54.59%, 54.33%) 58.3%,
      hsl(228.45, 59.36%, 52.96%) 64.3%,
      hsl(223.51, 64.12%, 51.51%) 70.5%,
      hsl(219.3, 68.88%, 49.98%) 77.1%,
      hsl(215.71, 78.28%, 48.4%) 84.2%,
      hsl(212.64, 88.63%, 46.77%) 91.8%,
      hsl(210, 100%, 45.1%) 100%
    );
    -webkit-animation: slide-in-blurred-top 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;                 
  }


#nume {

    margin:auto;
    font-family: FontCustom;
    color: #020D19;
    font-size: 60px;
    text-shadow:  inset 32px 32px 38px #00070e,
    inset -32px -32px 38px #021d36;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
}

  #nume_div {

    float: right;
  }
  .socials{
    padding: 15px;
    float: left;
    margin-right: 80px;

  }
  #navi {
    display: flex;
    gap: 10%;
  }


  #navi a {

    text-decoration: none;
    text-shadow:  inset 32px 32px 38px #00070e, inset -32px -32px 38px #021d36;
    color: #020D19;
    -webkit-animation: slide-in-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
    animation: slide-in-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
 
  }
  

#image {
  width: 48px;
}
#image:hover {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}


/* 2.5s delay pana acum. */

h1 {
  color: white;
}

.rand1{
  background-color: #020D19;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 0px 30px;
border-radius: 50px;

}
.title {
display: flex;
flex-direction: column;
}




#title_hello{
  text-align: center;
  font-family: Hello;
  font-size: 128px;
  color: #FBFBFB;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
  letter-spacing: 7px;

  justify-content: center;
  margin: 30px 0;
}


#subtitle_hello{
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 0px;
  padding: 10px 90px;
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3.2s both;
  animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3.2s both;
}

#link_github{
  text-decoration: none;
  color: orchid;
}


#photo{
  margin: auto;
}

#poza_personala{
  margin: 30px 0px;
  border-radius: 30% 70% 24% 76% / 45% 42% 58% 55% ;
  height: 360px;
  width: 360px;
  overflow: hidden;
}




/* ******************************************************* */

#rand2{
  padding: 1px;
  margin-top: 300px;
  background-color: #020D19;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50px;
}

  #rand2_titlu{
    text-align: center;
    margin: 50px auto;
  }

  #rand2_titlu_text{
    font-family: pixelfont;
    color: white;
    font-size: 45px;

  }

  #subtitle_rand2{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0px;
    padding: 10px 90px;
  }

#limbaje{
  display: flex;
  justify-content: space-around;  
  margin-top: 100px;
}

#limbaje_icons{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
  
#limbaj{
  text-align: center;
  padding: 30px 30px;
  width: 500px;
}

#desc_text{
  font-family: 'Courier New', Courier, monospace;
  color: #FBFBFB;
  font-size: 16px;
}
